<br>

<div class='flex-container'>
  <div class="example-form">
    <mat-form-field class="example-full-width">
      <input matInput placeholder="" disabled value="Sign Up Section">
    </mat-form-field>

    <p>
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Email" [(ngModel)]="customer.customerEmail" value="">
        </mat-form-field>
    </p>

    <p>
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Name" [(ngModel)]="customer.customerName" value="">
      </mat-form-field>
    </p>

    <p>
      <mat-form-field class="example-full-width">
          <input matInput placeholder="Password" [(ngModel)]="customer.customerPassword" [type]="hide ? 'password' : 'text'" value="">
          <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
      </mat-form-field>
    </p>

    <p>
      <mat-form-field class="example-full-width">
          <input matInput placeholder="Confirm Password" [(ngModel)]="confirmPassword" [type]="hide ? 'password' : 'text'" value="">
          <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
      </mat-form-field>
    </p>

  </div>  
</div>

<div>
    <div class="flex-container">
        <button mat-raised-button color="primary" (click)='onClickSignUp()'>Sign Up</button>
    </div>
</div>