<mat-toolbar color='primary'>
  <div routerLink="/home">
    ng Blood Bank
  </div>
  <span class="rightSideMenu"></span>
<span>
  <button mat-icon-button [matMenuTriggerFor]="appMenu">
    <mat-icon>more_vert</mat-icon>
  </button>
</span>
</mat-toolbar>
<mat-menu #appMenu="matMenu">
  <div *ngIf='!isLoggedIn'>
      <a routerLink="/sign-in">
        <button mat-menu-item>   
          Sign In
        </button>
      </a>
      <a routerLink="/sign-up" routerLinkActive="active">
        <button mat-menu-item> 
          Sign Up
        </button>
      </a>
  </div>
  <div *ngIf='isLoggedIn'>
      <a routerLink="">
        <button mat-menu-item>   
          Profile
        </button>
      </a>
      <a routerLink="" routerLinkActive="active">
        <button mat-menu-item> 
          Buy Ticket
        </button>
      </a>
      <a routerLink="" routerLinkActive="active">
        <button (click)='onClickLogOut()' mat-menu-item> 
          LogOut
        </button>
      </a>
  </div>
</mat-menu>